<div class="addProfile">
  <h2 class="addProfile__title">#Ajouter un profil</h2>
  <form class="addProfile__form">
    <input required type="text" name="name" placeholder="Saisir le nom du profil" pattern="[^0-9]*" title="Numbers are not allowed">
    <input required type="text" name="image" placeholder="Saisir le nom de l'image">
    <input required type="number" name="age" placeholder="Saisir l'age de l'utilisateur" step="1">
    <button type="submit">Ajouter le profil</button>
  </form>
</div>
