<section class="MovieDetail">
    <iframe class="MovieDetail__trailer" src="{{trailer}}" title="Video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h2 class="MovieDetail__nom">{{nom}}</h2>
    <div class="MovieDetail__container">
        <div class="MovieDetail__text-container">
            <p class="MovieDetail__description">{{description}}</p>
            <p class="MovieDetail__realisateur">Réalisateur : {{realisateur}}</p>
            <p class="MovieDetail__duree">Durée : {{duree}} minutes</p>
            <p class="MovieDetail__categorie">Catégorie : {{categorie}}</p>
            <p class="MovieDetail__restriction">Restriction d'âge : {{restriction}} ans</p>
        </div>
    <div class="MovieDetail__affiche-container">
        <img class="MovieDetail__affiche" src="https://mmi.unilim.fr/~guichon3/SAE2.03-Guichon-Alexandre/server/images/{{affiche}}" alt="Aucun film disponible pour le moment."/>
        <p class="MovieDetail__annee">Année de sortie : {{annee}}</p>
    </div>
</div>
</section>